<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flockflairapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/thebotanist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/thebotanist"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookMarksDisplayQuestion"></activity>
        <activity android:name=".QuestionOfTheDay" />
        <activity android:name=".listviewimg" />
        <activity android:name=".landing" />
        <activity
            android:name=".subtopic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookmarkActivity"
            android:label="Bookmarks"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".UpdateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />



        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <activity
            android:name=".ExpandableModule2"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".ExpandableModule1"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".DisplayQuestions"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".subtopic_2_11"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phonenumber"
            android:screenOrientation="portrait" />

        <receiver android:name=".ReminderBroadcast">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

<!--        <receiver android:name=".RemainderBroadcastsecond">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>